* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  width: 1920px;
  padding: 37px 230px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
}
.header-logo {
  height: 33px;
}
.contacts {
  align-items: center;
  display: flex;
  font-family: "Circe";
}

.number {
  margin-right: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
.form-number {
  color: #d6af76;
}

.callback {
  text-decoration: none;
  color: #e4b564;
  border: 1px solid #e4b564;
  width: 218px;
  font-size: 18px;
  padding: 16px 0;
  text-align: center;
}

.callback-logo {
  margin-right: 10px;
}

h1 {
  padding-top: 128px;
  color: #ffffff;
}

p {
  margin-top: 41px;
  color: #ffffff;
  font-weight: 700;
}
.main {
  background-color: #171717;
  width: 1920px;
  padding: 37px 230px;
  margin: 0 auto;
}
.first_container {
  margin-top: 41px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 20px;
}

.first_container__block:first-child {
  background-color: #634f2c;
  grid-column-start: 1;
  grid-column-end: 3;
}

.first_container__block:nth-child(2) {
  background-color: #b4a385;
  grid-column-start: 3;
  grid-column-end: 5;
}

.first_container__block:nth-child(3) {
  background-color: #e4b564;
  grid-column-start: 5;
  grid-column-end: 7;
}

.first_container__block:nth-child(4) {
  background-color: #635a4a;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: -7;
  grid-column-end: -4;
}

.first_container__block:last-child {
  background-color: #b08c4d;
  grid-row-start: -2;
  grid-row-end: -1;
  grid-column-start: -1;
  grid-column-end: -4;
}

.first_container__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_container__block-text {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

h2 {
  padding-top: 100px;
  color: #ffffff;
  font-size: xx-large;
}

.second_container {
  margin-top: 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 120px);
  gap: 20px;
}

.second_container__block-text {
  padding: 44px 0 0 52px;
  color: #ffffff;
}

.second_container__block:first-child {
  grid-row-start: -7;
  grid-row-end: -5;
  grid-column-start: 1;
  grid-column-end: 1;

  background-color: #0e0e0e;
}

.second_container__block:nth-child(2) {
  background-color: #1f1f1f;
  grid-row-start: -5;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.second_container__block:nth-child(3) {
  background-color: #242424;
  grid-row-start: -7;
  grid-row-end: -4;
  grid-column-start: 2;
  grid-column-end: 2;
}

.second_container__block:nth-child(4) {
  background-color: #e4b564;
  grid-row-start: -4;
  grid-row-end: -1;
  grid-column-start: 2;
  grid-column-end: 2;
}

.second_container__block:nth-child(5) {
  background-color: #1f1f1f;
  grid-row-start: -7;
  grid-row-end: -5;
  grid-column-start: 3;
  grid-column-end: 3;
}

.second_container__block:nth-child(6) {
  background-color: #0e0e0e;
  grid-row-start: -5;
  grid-row-end: -3;
  grid-column-start: 3;
  grid-column-end: 3;
}

.second_container__block:last-child {
  background-color: #0a0909;
  grid-row-start: -3;
  grid-row-end: -1;
  grid-column-start: 3;
  grid-column-end: 3;
}

.second_container__block:nth-child(4) .second_container__block-text {
  color: #000;
}

.text-wrapper {
  font-weight: 700;
}

h3 {
  padding-top: 100px;
  color: #ffffff;
  font-size: xx-large;
}

.last_container {
  padding-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 391px);
}

.last_container__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last_container__block:first-child {
  background-color: #634f2c;
}

.last_container__block:nth-child(2) {
  background-color: #e8d2ab;
}

.last_container__block:nth-child(3) {
  background-color: #e4b564;
}

.last_container__block:nth-child(4) {
  background-color: #635a4a;
}

.last_container__block:nth-child(5) {
  background-color: #b08c4d;
}

.last_container__block:last-child {
  background-color: #634f2c;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.block-logo_2 {
  align-self: center;
  height: 62px;
  width: 62px;
}

.block-logo_3 {
  height: 40px;
  width: 62px;
  align-self: center;
}

.last_container__block-text {
  color: #ffffff;
  text-align: center;
}

.decorated_text {
  font-weight: 700;
}

.footer {
  width: 1920px;
  background-color: #000000;
  padding: 70px 230px;
  margin: 0 auto;
}
